@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* --color-background-light: rgb(144, 238, 210); */
:root {
  --color-background-light: rgba(138, 206, 172, 0.72);
  --color-text-light: rgb(255, 255, 255)
  ;

  --color-background-dark: rgb(0, 0, 0);
  --color-text-dark: rgb(255, 255, 255)
  ;
}

[data-theme="light"] {
  background-color: var(--color-background-light);
  color: var(--color-text-light);
}

[data-theme="dark"] {
  background-color: var(--color-background-dark);
  color: var(--color-text-light);
}


@keyframes carousel {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 600% 0;
  }
}

@keyframes moveGradient {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}

.animated-gradient-text {
  background: linear-gradient(
    to right ,
    #4a79fa,    /* First color */
    #01a123,    /* Second color */
    #01a123,    /* Third color */
    #01a123,    /* Fourth color */
    #4a79fa,
    #4a79fa,
    #01a123,
    #01a123,
    #01a123,
    #4a79fa,
    #4a79fa,
    #01a123,
    #01a123,
    #01a123,
    #4a79fa     /* First color again to create a seamless transition */
  );
  background-size: 300% 100%; /* Make the gradient three times the width of the text */
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent; /* Fallback for WebKit browsers */
  animation: moveGradient 15s linear infinite; /* Adjust the time as needed */
  display: inline-block; /* Required for background-clip */
}

.dot1 {
  animation: pulse 1.5s infinite 0.2s;
}

.dot2 {
  animation: pulse 1.5s infinite 0.4s;
}

.dot3 {
  animation: pulse 1.5s infinite 0.6s;
}

.nav {
  animation: carousel 90s linear infinite;
}

.nav::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(1, 161, 35); /* Red tint as an example */
  mix-blend-mode: multiply; /* Adjust the blend mode as needed */
  pointer-events: none; /* Prevents the pseudo-element from capturing clicks */
}

.hover-effect {
  filter: grayscale(100%);
}


#carousel {
  position: relative;
}


.carousel-image.active {
  display: block;

}

.Img {
  width: auto;
  height: auto;
}

.underline-on-hover {
  position: relative;
}

.underline-on-hover::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 3px; /* thickness of the underline */
  background: #01a123;
  transition: width 0.3s linear;
}

.underline-on-hover:hover::after {
  width: 100%;
}

#canvas {
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.icon-dark {
  filter: invert(1);
}

.image-container {
  width: 350px;
  height: 350px;

}

.responsive-image {
  width: 100%;
  border-radius: 35%;  /* image circular */
  border: 3px solid #01a123;
  width: 350px;
  height: 350px;
  margin-Bottom: 0px;

}

.prjt-image {
  border: 2px solid #01a123;
  width: auto;
  height: auto;
}

.prjt-dsc {
  width: auto;
  height: auto;
}

.my-container {
  margin: 1px;
  padding: 1px;
  border: 1px;
}

.promarg {
  margin-left: 0px;
  margin-right: 25px;
  padding: 0px;
  border: 1px;
}


@keyframes pop {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

.hover-no-shadow:hover {
  text-shadow: none !important;
}

body {
  overflow-x: hidden;
}

@media (min-width: 1440px) {
  .container {
    margin: 0 10%;
  }
}

/* ContactForm.css */
.contact-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
  background-color: transparent;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.input-field, .textarea-field {
  margin-bottom: 1em;
  padding: 0.5em;
  color: rgb(2, 1, 1);
  border: none;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.submit-button {
  padding: 0.5em 1em;
  background-color: #10B981;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.submit-button:hover {
  background-color: #58f913;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.submit-button:active {
  transform: scale(0.7);
}

.custom-width {
  width: 100%;
  max-width: 600px;
}


@media screen and (max-width: 768px) {
  .custom-width {
    width: 100%;
  }
}

.herodiv {
 margin-top: 8%;
}
