@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@keyframes carousel {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 600% 0;
  }
}

.nav {
  animation: carousel 45s linear infinite;
}



/* :root[data-theme='light'] {
  --bg: #ffffff;
  --bg-accent: #f0f0f0;
  --text-color: #000000;
  --btn-bg: #007bff;
  --btn-text: #ffffff;
}

Dark theme
:root[data-theme='dark'] {
  --bg: #333333;
  --bg-accent: #444444;
  --text-color: #f0f0f0;
  --btn-bg: #007bff;
  --btn-text: #ffffff;
} */

#carousel {
  position: relative;
  width: 500px;
  height: 300px;
}

.carousel-image {
  position: absolute;
  width: auto;
  height: auto;
  display: none;
}

.carousel-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.carousel-image.active {
  display: block;
}

.Img {
  width: auto;
  height: auto;
}
